.percentage-text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px; /* Ajusta el tamaño si quieres */
  font-weight: bold;
  color: white; /* O el color que estés usando */
}
